.MuiDialogContent-root.leave {
  width: 550px;
  min-height: 550px;
}

ol {
  list-style-type: none;
}

ol li:before {
  counter-increment: appproversChangeSteps;
  content: counter(appproversChangeSteps) '. ';
  width: 30px;
  text-align: right;
  margin-right: 5px;
}

ol:first-of-type {
  counter-reset: appproversChangeSteps;
}

.approvers__list {
  padding: 20px 20px 0 0;
  font-size: 20px;
  margin-left: 20px;

  .approvers__item {
    margin-bottom: 20px;

    .approvers__add-btn {
      background-color: #2bff00;
      margin-top: 10px;
      margin-right: 10px;
      margin-left: 40px;
      padding: 5px 10px;
      border: none;
      border-radius: 15px;
      opacity: 0.5;
      transition-property: opacity;
      transition-duration: 0.5s;

      &:hover {
        cursor: pointer;
        transition-duration: 0.3s;
        opacity: 1;
      }

      &:active {
        background: darken(#2bff00, 8%);
      }
    }

    .approvers__delete-btn {
      background-color: #f50057;
      color: #fff;
      margin-top: 10px;
      margin-right: 10px;
      padding: 5px 10px;
      border: none;
      border-radius: 15px;
      opacity: 0.5;
      transition-property: opacity;
      transition-duration: 0.5s;

      &:hover {
        cursor: pointer;
        transition-duration: 0.3s;
        opacity: 1;
      }

      &:active {
        background: darken(#f50057, 8%);
      }
    }
  }

  li {
    font-size: 18px;
    display: flex;
    align-items: center;
    font-size: 20px;

    .approvers__item-form {
      vertical-align: baseline;
      justify-content: center;
      font-size: 20px;
      width: 70%;

      .MuiInputBase-input {
        padding: 8px 17px 7px 0;
      }
    }
  }
  li + li {
    margin-top: 10px;
  }
}

.MuiButtonBase-root.MuiIconButton-root.clear-icon {
  opacity: 0.5;
  padding: 6px;
  margin-left: 10px;
  margin-bottom: 4px;
  &:hover {
    opacity: 1;
  }
}

.MuiButton-contained.new-request__ok-btn:hover {
  background-color: #00c903;
}

.MuiButton-contained.new-request__cancel-btn:hover {
  background-color: #f50057;
}
